/_build
/cover
/deps
/doc
/references
*.snapshot
erl_crash.dump
*.ez
*.tar
.DS_Store

# The locales installed in the package
# We force the "en" locale into the repo
# but all others are ignored and installed
# on demand during compilation
/priv/cldr/locales

# The xml downloaded from Unicode
/downloads

# Ignore the generated json files
/data
