/_build
/cover
/deps
/doc
/references
*.snapshot
erl_crash.dump
*.ez
*.tar
.DS_Store

# The locales installed in the package
# which are used only for testing
/priv/cldr/locales

# The xml downloaded from Unicode
/downloads

# Ignore the generated json files
/data
