/_build
/cover
/deps
/doc
/references
*.snapshot
erl_crash.dump
*.ez
*.tar
.DS_Store
.iex.exs

# The xml downloaded from Unicode
/downloads

# Ignore the generated json files
/data

# Generated erlang source
/src/*.erl

# asdf
.tool-versions
